:root {
    --primary-color: #15555
}

*{
    margin: 0;
    padding: 0;
    box-sizing;
}


body  {

.container {
    display: flex;
    background-color: rgb(137, 217, 193);
    width: 500px;
    height:500px;
}
.inside-box{
    background-color: rgb(156, 98, 164);
    border-style: solid;
    border-color: azure;
    width: 100px;
    height:100px;
}
}






